# Top 5 Machine Learning Libraries - Udemy

In [1]:
# Let's bring in pandas
# Pandas is all about working with data

import pandas as pd

In [ ]:
# Let's create a series
# A series is a 1D array like object.

s = pd.Series([3,5,5,9,6])
s

In [ ]:
# head() returns the top 5 rows

s.head()

In [2]:
# Importing data from an URL

ufo = pd.read_table('http://bit.ly/uforeports', sep = ',')

In [9]:
# To print the top 5 rows in the dataframe

ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"

In [ ]:
# Finding the States

ufo['State']

In [4]:
# Adding a new column to the data by concatenating two of the existing columns

ufo['Location'] = ufo.City + ',' + ufo.State
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"

In [6]:
# To find the number of rows and columns

ufo.shape

(18241, 6)

In [7]:
# Data type of each column

ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
Location           object
dtype: object

In [12]:
# Name of each column

ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')