# Top 5 Machine Learning Libraries - Udemy

In [3]:
# Let's bring in pandas
# Pandas is all about working with data

import pandas as pd

In [ ]:
# Let's create a series
# A series is a 1D array like object.

s = pd.Series([3,5,5,9,6])
s

In [ ]:
# head() returns the top 5 rows

s.head()

In [ ]:
# Importing data from an URL
# Creating a variable called ufo

ufo = pd.read_table('http://bit.ly/uforeports', sep = ',')

In [ ]:
# To print the top 5 rows in the dataframe

ufo.head()

In [ ]:
# Finding the States

ufo['State']

In [ ]:
# Adding a new column to the data by concatenating two of the existing columns

ufo['Location'] = ufo.City + ',' + ufo.State
ufo.head()

In [ ]:
# To find the number of rows and columns

ufo.shape

In [ ]:
# Data type of each column

ufo.dtypes

In [ ]:
# Name of each column

ufo.columns

In [ ]:
# Lets remove a column

ufo.drop('Colors Reported', axis = 1, inplace = True)
ufo.head()

In [ ]:
# Lets remove multiple columns

ufo.drop(['State', 'Time'], axis = 1, inplace = True)
ufo.head()

In [4]:
# Lets do some sorting. Lets read the data again

ufo = pd.read_table('http://bit.ly/uforeports', sep = ',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
# Lets sort by State

ufo.State.sort_values(ascending = False).head()

In [ ]:
# Lets Sort by City

ufo.sort_values('City').head()

In [ ]:
# Let's sort by two columns

ufo.sort_values(['City', 'State']).head(25)

In [5]:
# let's get the summary of the data frame

ufo.describe()

           City Colors Reported Shape Reported  State              Time
count     18216            2882          15597  18241             18241
unique     6476              27             27     52             16145
top     Seattle             RED          LIGHT     CA  11/16/1999 19:00
freq        187             780           2803   2529                27